@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #007bff;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Archivo', sans-serif;
    font-size: 1.6rem;
    color: #12263f;
    line-height: 1.5;
}
